# Week 2: Lecture 2

In [5]:
# string Function (inbuilt functions)
# string is immutable unlike java in python
# if some index can be replace than it is immutable
for val in "muntjir":
        if val == "j":
            break 
        print(val)
        
print("The end")

m
u
n
t
The end

In [7]:
for val in "mohammad":
        if val == "a":
            continue 
        print(val,end = " ")
        
print("The end")

m o h m m d The end

In [8]:
for val in "mohammad":
        if val == "a":
            continue 
        print(val)
        
print("The end")

m
o
h
m
m
d
The end

In [11]:
# input is inbuilt function
name = input("What is your name? ")
type(name)

What is your name? Mohd muntjir

str

In [ ]:
age = input("What is your age? ")
print("Your age is:  " ,age)
type(age)

In [2]:
name = input("what is your name?  ")
print("it was nice talking to you " +name+ "!")
age = input("enter your age")
print("Hey,you are already " + age + " years old, " +name+ "!")

what is your name?  Mohd Muntjir
it was nice talking to you Mohd Muntjir!
enter your age23
Hey,you are already 23 years old, Mohd Muntjir!

In [5]:
age = input("what is your age? ")
g = int(age)

what is your age? 56

In [6]:
#STRINGS AND LIST OBJECTS
'hello'

'hello'

In [7]:
"hello"

'hello'

In [8]:
'hello's'

SyntaxError: invalid syntax (<ipython-input-8-009e6ca454b8>, line 1)

In [9]:
#SINGLE WORD
"hello's"

"hello's"

In [10]:
#ENTIRE PHRASE
'This is also a string'

'This is also a string'

In [11]:
#we can also use double quote
"This is also a string"

'This is also a string'

In [12]:
#length function
# gives you a number of element
len("hello world")

11

In [13]:
"""Implementation of Data Mining in Wireless Sensor Networks: An Integrated Review. M Muntjir. IJCSN International Journal of Computer Science and Network, ...
You've visited this page many times. Last visit: 10/23/18"""

"Implementation of Data Mining in Wireless Sensor Networks: An Integrated Review. M Muntjir. IJCSN International Journal of Computer Science and Network, ...\nYou've visited this page many times. Last visit: 10/23/18"

In [14]:
'''Implementation of Data Mining in Wireless Sensor Networks: An Integrated Review. M Muntjir. IJCSN International Journal of Computer Science and Network, ...
You've visited this page many times. Last visit: 10/23/18'''

"Implementation of Data Mining in Wireless Sensor Networks: An Integrated Review. M Muntjir. IJCSN International Journal of Computer Science and Network, ...\nYou've visited this page many times. Last visit: 10/23/18"

In [ ]:
s = input("hello world")

In [ ]:
s = "Hello"

In [ ]:
s[0]

In [ ]:
# replace h with i
s[0]='i'

In [ ]:
s = "Hello"
s[0]='i'

In [ ]:
letter ='z'

In [2]:
letter*10
letter*10

NameError: name 'letter' is not defined

In [3]:
s = 'hello'
s.upper()

'HELLO'

In [7]:
s = "hello, my, name ,is, mohd"
s.split()

['hello,', 'my,', 'name', ',is,', 'mohd']

In [10]:
s = "hello"
s.count(ll)

NameError: name 'll' is not defined

In [13]:
s='hello'

In [12]:
s.find(l)

NameError: name 'l' is not defined

In [14]:
s='hello'

s.find(l)

NameError: name 'l' is not defined

In [1]:
s='hello'

s.find(l)

NameError: name 'l' is not defined

In [ ]:
s = "hellowordldear"

In [2]:
s[-6:-2:1]

'hel'

In [3]:
s = 'hello'
s.index('l')

2

In [5]:
s = 'hello'
s.isalnum()

True

In [6]:
s = 'hello'
s.isalpha()

True

In [8]:
s = 'hello123'
s.isalnum()

True

In [9]:
s = 'hello'
s.islower()

True

In [10]:
s = 'HELLO'
s.islower()

False

In [15]:
s = ' '
s.isspace()

True

In [17]:
s = "HELLO"
s.endswith('O')

True

In [19]:
l = list("fdf")
l

['f', 'd', 'f']

In [21]:
l = list(["jhjg"])
l

['jhjg']

In [22]:
s = "helelelele"
s.partition('e')

('h', 'e', 'lelelele')

In [23]:
s = "helelelele"
s.split('e')

['h', 'l', 'l', 'l', 'l', '']

In [26]:
s="hello"
l = list(s)
l

['h', 'e', 'l', 'l', 'o']

In [31]:
# implicit - when system itself try to convert
# explicit - when we ourself try to convert
s="hello guy, 3"
s.pop()

AttributeError: 'str' object has no attribute 'pop'

In [4]:
i=5
foi i in range(1,5):
    for j in range(i):
        print(i, end=' ')
    print()

SyntaxError: invalid syntax (<ipython-input-4-45a355e6e699>, line 2)

In [3]:
5+7

12

In [8]:
# i=5
for i in range(1,5):
    for j in range(i):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

In [10]:
for i in range(1,5):
    for j in range(1,i):
        print(j, end=' ')
    print()

1
1 2
1 2 3

In [12]:
for i in range(1,5):
    for j in range(i):
        print(j, end=' ')
    print()

0
0 1
0 1 2
0 1 2 3

In [8]:
for i in range(1,5):
    for j in range(j):
        print(j, end=' ')
    print()

0 1 2
0 1
0

# SLICING OF LIST

In [12]:
m = "hello dear!"
print(m[4])

o

#   0     1   2   3  4  5    6   7  8  9  10
#   h     e    l   l   o        d  e   a  r   !
# -11 -10 -9 -8 -7 -6  -5 -4 -3 -2 -1

In [20]:
m = "hello dear!"
print(m[4])

o

In [13]:
# return the character on zeero index
m = "hello dear!"
print(m[0])

h

In [16]:
#returns the all string
m = "hello dear!"
print(m[::1])

hello dear!

In [17]:
#returns all string in opposite
m = "hello dear!"
print(m[::-1])

!raed olleh

In [18]:
# Accessing Characters by Negative Index Number
m = "hello dear!"
print(m[-4])

e

In [7]:
#print from 1 to 10 with while loop
i = 1
while i <= 10:
    print(i,end="\n")
    i = i+1
print()

1
2
3
4
5
6
7
8
9
10

In [16]:
# i = 1
for i in range(1,12):
    for j in range(1,i):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

# Slicing Strings

In [17]:
s = [3,4,5,6,7,8,9]
print(s)

[3, 4, 5, 6, 7, 8, 9]

In [18]:
s = [3,4,5,6,7,8,9]
print(s[5])

8

In [19]:
s = [3,4,5,6,7,8,9]
print(s[-1])

9

#   0     1   2   3  4  5    6   7  8  9  10
#   h     e    l   l   o        d  e   a  r   !
# -11 -10 -9 -8 -7 -6  -5 -4 -3 -2 -1

In [21]:
s = "hello dear!"
print(s)

hello dear!

In [22]:
s = "hello dear!"
print(s[0])

h

In [23]:
s = "hello dear!"
print(s[-1])

!

# Interview related questions

In [25]:
list =[x for x in range(2000,3201) if x % 7 == 0 and x % 5 != 0]

print(list)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [38]:
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print ( fname[::-1], ' ',lname[::-1])

Input your First Name : Mohd
Input your Last Name : Muntjir
 dhoM   rijtnuM

In [27]:
PI = 3.14
diameter = 12
radius = diameter/2
Volume = (4/3) * PI * radius ** 3
print("The Volume of the Sphere is %.2f" %Volume)

The Volume of the Sphere is 904.32

In [30]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
print('List : ',list)

Input some comma seprated numbers : 10,11,12
List :  ['10', '11', '12']

In [31]:
print("Program to print half pyramid: ")

rows = input("Enter number of rows ")
rows = int (rows)

for i in range (rows,0,-1):
    for j in range(0, i + 1):
        print(j, end=' ')

    print("\r")

Program to print half pyramid:
Enter number of rows 6
0 1 2 3 4 5 6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [32]:
print("Program to print start pattern: \n");

rows = input("Enter max star to be display on single line")
rows = int (rows)
for i in range (0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range (rows, 0, -1):
    for j in range(0, i -1):
        print("*", end=' ')
    print("\r")

Program to print start pattern:

Enter max star to be display on single line6
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [33]:
word = input("Input a word to reverse: ")

for char in range(len(word) - 1, -1, -1):
  print(word[char], end="")
print("\n")

Input a word to reverse: AcadGild
dliGdacA

In [41]:
"""WE, THE PEOPLE OF INDIA, \n having solemnly resolved to constitute India into a 
\n\tSOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\tand to secure to all 
its citizens"""

'WE, THE PEOPLE OF INDIA, \n having solemnly resolved to constitute India into a \n\n\tSOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\tand to secure to all \nits citizens'

In [42]:
myInp = input('Enter word to reverse it: ')
print('using seperator: '+myInp[::-1])

# way 2
print('using loop: ', end="")
l = len(myInp)
for i in range(l-1, -1, -1):
    print(myInp[i], end="")

Enter word to reverse it: 5
using seperator: 5
using loop: 5

In [46]:
print("Program to print start pattern: \n");

rows = input("Enter max star to be display on single line")
rows = int (rows)
for i in range (0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range (rows, 0, -1):
    for j in range(0, i -1):
        print("*", end=' ')
    print("\r")

Program to print start pattern:

Enter max star to be display on single line6
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [44]:
# way 2
print('using loop: ', end="")
l = len(myInp)
for i in range(l-1, -1, -1):
    print(myInp[i], end="")

using loop: 5

In [47]:
print("Program to print start pattern: \n");

n = input("Enter max star to be display on single line")
n = int (n)
for i in range (0, n):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range (n, 0, -1):
    for j in range(0, i -1):
        print("*", end=' ')
    print("\r")

Program to print start pattern:

Enter max star to be display on single line6
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [48]:
print("Program to print start pattern: \n");

rows = input("Enter max star to be display on single line")
rows = int (rows)
for i in range (0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")

for i in range (rows, 0, -1):
    for j in range(0, i -1):
        print("*", end=' ')
    print(" ")

Program to print start pattern:

Enter max star to be display on single line8
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
num = int(input("enter number of rows: "))
for i in range(1,num+1):
    for j in range(j,i+1):
        print(j, end = " ")
    print()

In [2]:
num = int(input("enter number of rows: "))
for i in range(1,num+1):
    for j in range(1,i+1):
        print(j, end = " ")
    print()

enter number of rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [3]:
num = int(input("enter number of rows: "))
for i in range(1,num+1):
    for j in range(1,i+1):
        print(i, end = " ")
    print()

enter number of rows: 6
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [4]:
num = int(input("enter number of rows: "))
for i in range(1,num+1):
    for j in range(1,i+1):
        print('*', end = " ")
    print()

enter number of rows: 6
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [7]:
num = int(input("enter number of rows: "))
for i in range(1,num+1):
    for j in range(1,i-1):
        print(j, end = " ")
    print()

enter number of rows: 6


1
1 2
1 2 3
1 2 3 4

from IPython.core.display import Image
Image('~/

In [ ]:
from IPython.core.display import Image
Image('~/)